#nav-bar {
  border: 2px dotted red;
}
.row {
  border: 2px dotted red;
}

#container {
  border: 2px solid blue;
  max-width: 50vw;
  max-height: 90vh;
}

footer {
  border-top: 8px solid #4aaaa5;
}
