#nav-bar {
  margin: -10px -7px -10px -7px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #777777;
}

#nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-items: center;
  list-style-type: none;
  padding: 0;
}

#container {
  margin: 50px 400px 50px 400px;
  max-width: 50vw;
  max-height: 90vh;
  padding: 20px;
  background-color: white;
}

#bioimage {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  float: left;
}

img {
  border-radius: 25%;
  width: 150px;
  height: 150px;
  padding: 30px;
}

.photo:hover {
  border: 3px solid #beedcd;
}

.nav-link {
  color: #777777;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 700;
}

.nav-link:hover {
  color: teal;
}

.row {
  margin: 20px;
}

body {
  color: #777777;
  line-height: 2em;
  background-color: lightgray;
  font-family: Helvetica, sans-serif;
}

h1 {
  background-color: #4aaaa5;
  color: white;
  margin: 0px 250px 0px 250px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  font-family: Georgia;
}

h2 {
  color: #4aaaa5;
  border-bottom: 1px solid #777777;
}

input {
  width: 600px;
  height: 30px;
  border-radius: 25px;
}

input:focus {
  background-color: rgb(255, 255, 255);
  border: 2px solid #beedcd;
}

textarea {
  border-radius: 25px;
}

textarea:focus {
  background-color: rgb(255, 255, 255);
  border: 2px solid #beedcd;
}

button {
  border-radius: 25px;
  background-color: #4aaaa5;
  color: white;
  height: 40px;
  width: 90px;
  margin: auto;
}

button:hover {
  background-color: #beedcd;
  color: gray;
}

footer {
  border-top: 8px solid #4aaaa5;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -7px;
  margin-right: -3px;
}
